/* definindo o nosso conteudo */

html,
body,
.capa {
    height: 100%;
    /* definimos o overflow auto para ele ir de acordo com o height, mude a % do height e ver o que ele ocupa na tela. */
}


/* aqui definimos o bg fixo */

body {
    background: url("bg.png");
    /* fixa o bg */
    background-attachment: fixed;
    /* define um limite no eixo x(horizontal) do site, para que não tenha scroll horizontal */
    overflow-x: hidden;
}


/* ------------------------------------------------- */


/* Nessa parte definimos textos centralizados, horizontalmente e verticalmente */

.capa {
    display: table;
    width: 100%;
}

.texto-capa {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}


/* Aqui são as seções onde definimos os backgrounds que queremos */

.section1 {
    background-color: white;
    padding: 200px;
    width: 600px;
}

.section2 {
    background-color: red;
    padding: 200px;
    width: 600px;
    float: right;
}


/* ignora essa parte */

h1 {
    font-size: 100px;
    padding: 0;
    margin: 0;
}

p {
    font-size: 30px;
    padding: 0;
    margin: 0;
}